.button {
    bottom: 0;
    width: 100%;
    background: #41946b;
    border: none;
    padding: 20px 15px;
    text-align: center;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
    margin-top: 20px;
    font-family: inherit;
    border-radius: 3px;

    &:disabled {
      background: rgba(0, 0, 0, 0.1);
      color: rgba(0, 0, 0, 0.4);
      cursor: not-allowed;
    }
}

.check {
    padding: 30px;
    background-color: black;
    color: white;

    div {
        width: 100%;

        &:nth-child(1) {
            font-size: 24pt;
        }
    }

    .summary {
        color: #9afbca;
        margin-top: 40px;
        font-size: 18pt;
    }
}