<h2>Enter your details</h2>
  <div class="section" formGroupName="details">
    <div class="input">
      <label>
        Name <span class="required">*</span>
        <span *ngIf="parent.get('details').get('name').hasError('required') && parent.get('details').get('name').touched"
              class="error">
          Field is required
        </span>
      </label>
      <input formControlName="name" type="text" placeholder="John Smith">
    </div>
    <div class="input">
      <label>
        Email <span class="required">*</span>
        <span *ngIf="parent.get('details').get('email').errors && parent.get('details').get('email').touched"
              class="error">
          Field is required
        </span>
      </label>
      <input formControlName="email" type="email" placeholder="Enter your email">
    </div>
  </div>
  <div class="section" formGroupName="details">
    <div class="input">
      <label>
        Address <span class="required">*</span>
        <span *ngIf="parent.get('details').get('address').errors && parent.get('details').get('address').touched"
              class="error">
          <span *ngIf="parent.get('details').get('address').hasError('required')">
            Field is required
          </span>
          <span *ngIf="parent.get('details').get('address').hasError('minlength')">
            Min of 3 characters
          </span>
        </span>
      </label>
      <input formControlName="address" type="text" placeholder="44 Pizza Street">
    </div>
    <div class="input">
      <label>
        Contact Number <span class="required">*</span>
        <span *ngIf="parent.get('details').get('phone').errors && parent.get('details').get('phone').touched"
              class="error">
          Field is required
        </span>
      </label>
      <input formControlName="phone" type="text" placeholder="01234 567 890">
    </div>
  </div>