.required,
  .error {
    color: #E01D3B;
    font-weight: 700;
  }
  
  .input {
    margin: 0 30px 20px 0 !important;
    flex-grow: 1;
    &:last-child {
      margin-right: 0;
    }
    label {
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.6);
      display: block;
      margin-bottom: 10px;
  
      .error {
        float: right;
      }
    }
    input {
      background: #fff;
      box-shadow: 0 3px 5px rgba(0,0,0,0.02);
      border-radius: 2px;
      border: 1px solid #d7d7e7;
      font-size: 18px;
      padding: 10px 0px;
      outline: none;
      font-family: inherit;
      color: rgba(0, 0, 0, 0.8);
      width: 100%;
  
      &:focus {
        outline: none;
      }
    }
  }