<div class="pizza-viewer">
	<div class="pizza-viewer__table-side"></div>
	<div class="pizza-viewer__table"></div>
	<div 
		class="pizza--active">
		<div class="pizza__board"></div>
		<div class="pizza__base"></div>
		<div class="pizza__toppings">
			<div 
				*ngFor="let topping of toppings$ | async; let i = index;"
				[style.zIndex]="i"
				@drop>
				<div class="pizza__topping pizza__topping--{{ topping.name }}"></div>
				<div class="pizza__topping pizza__topping--{{ topping.name }}"></div>
				<div class="pizza__topping pizza__topping--{{ topping.name }}"></div>
				<div class="pizza__topping pizza__topping--{{ topping.name }}"></div>
				<div class="pizza__topping pizza__topping--{{ topping.name }}"></div>
			</div>
		</div>
	</div>
</div>
<app-pizza-price></app-pizza-price>
