:host {
	background-color: rgba(248, 250, 234, 0.829);
}
.pizza-viewer {
    height: 300px;
	width: 600px;
	position: relative;
	
	&__table-side, &__table {
		position: absolute;
		height: 300px;
		z-index: 0;
		transform: skewX(62deg);
	}

	&__table-side {
		top: 100px;
		left: -100px;
		background: #664140;
		width: 100%;
	}

	&__table {
		left: 50px;
		background: #8D665B;
		width: 100%;
	}
}
