<div class="forms-container">
  <div *ngIf="showFormDetails">
    <app-pizza-form-details [parent]="form"></app-pizza-form-details>
  </div>
  <div *ngIf="showFormToppings" [formGroup]="form.get('toppings')">
    <app-pizza-toppings formControlName="toppings"></app-pizza-toppings>
  </div>
  <div *ngIf="showFormConfirmation">
    <app-pizza-form-summary></app-pizza-form-summary>
  </div>
</div>
<button *ngIf="!showFormConfirmation" type="submit" class="button" (click)="onNext($event)" [disabled]="form.invalid">NEXT</button>