:host {
    position: absolute;
    width: 100px;
    height: 20px;
    padding: 5px;
    text-align: center;
    bottom: 0px;
    left: 30px;
    background-color: black;
		color: white;
		box-shadow: 4px 4px 20px rgba(0, 0, 0, .5);
}